* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.Container {
    display: flex;
    background-color: #fff   ;
    height: 100vh;
  

}

.Component_Other {
  padding:30px;
    flex: 4;
 /*    background-color: #f0f0f5; */
}
.component_outlet{
/*     margin-top: 40px; */
    margin-left:20px;
    margin-right: 20px;
}